################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/Phillips-Ocean.sln
/Packages
/obj/Debug
/Logs
/Library
/Assembly-CSharp.csproj
/.vs/Phillips-Ocean/v16/TestStore/0
